<div>
  <!-- SUB PROJECT FORM -->
  <sub-project-form *ngIf="formView; else subProjectDetails"
                    [projectId]="projectId"
                    [subProject]="selectedSubProject"
                    (submitForm)="onFormSubmit($event)"
                    (cancelForm)="onFormCancel($event)">
  </sub-project-form>

  <!-- SUB PROJECT VIEW -->
  <ng-template #subProjectDetails>
      <div class="form-inline add-padding">
          <label>Sort by:</label>&emsp;<select class="form-control " (change)="setOrdering($event.target.value)"><option *ngFor="let opt of sortingOptions">{{opt}}</option></select>
          <button class="btn btn-default pull-right" (click)="onClickAddSubProject()">Add sub project</button>
      </div>
    <div *ngIf="subProjects.length > 0">
      <div class="row" *ngFor="let subProject of subProjects">
      <sub-project-details [projectId]="projectId"
                           [subProject]="subProject"
                           [selected]="subProject === selectedSubProject"
                           (clickEditSubProject)="onClickEditSubProject($event)"
                           (clickDeleteSubProject)="onClickDeleteSubProject($event)"
                           (toggleSubProjectInfo)="onSelectSubProject($event)"
                           (updateSubProject)="onUpdateSubProject($event)">
      </sub-project-details>
      </div>
      <div>
        <p myLock>Project total time: {{getProjectTotalTime() | duration}}</p>
      </div>

    </div>
    <div *ngIf="subProjects.length === 0">
      <p class="small"><i>No sub projects</i></p>
    </div>
    <br>
  </ng-template>
</div>

